/* /* .container {
    /* position: relative;  */
 /* width: 64rem;
height: 151.43rem;

background: #FFFFFF;  */

/* border-radius: [object Object]px;

/* width: 100%; */
/* padding: 1rem;
font-size: 1.2rem
}
.body{ */
    /* position: absolute; */
    /* width: 63rem;
    height: 66.56rem;
    left: 10.30rem;
    top: 20.143rem; */
/*     
}
.header{ */
    /* position: absolute; */
/* width: 17.53rem;
height: 5.151rem;
left: 10.68rem;
top: 20.143rem;

}
.Textheading{ */
    /* position: absolute; */
    /* width: 17.52rem;
    height: 2.62rem;
    left: 10.68rem;
    top: 20.143rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.0004em;
    color: #253D4E;
}
.Textheading2{ */
    /* position: absolute; */
/* width: 15.93rem;
height: 1.25rem;
left: 10.68rem;
top: 24.04rem;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 1.25rem;
letter-spacing: -0.0004em;
color: #7E7E7E;
}
.rectangle1{
    box-sizing: border-box;

    position: absolute;
    width: 27.625rem;
    height: 3.125rem;
    left: 10.5rem;
    top: 28.31rem;
    
    background: #FFFFFF;
   
    
    border: 1px solid #E5E5E5;
  
    box-shadow: 1.2rem 1.2rem 2.75rem rgba(24, 24, 24, 0.07);
    border-radius: 0.12rem;
    
}
.group1{ */
    /* position: absolute; */
/* width: 20.56rem;
height: 1.5rem;
left: 14rem;
top: 29.125rem;

}
.user{ */
    /* position: absolute; */
/* width: 1rem;
height: 1rem;
left: 14rem;
top: 29.375rem; */

/* } */
/* .text{
    
width: 19.125rem;
height: 1.5rem;
left: 15.46rem;
top: 29.125rem;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.5rem;
text-align: center;
color: #7E7E7E;

}

.rectangle2{
    box-sizing: border-box;

position: absolute;
width: 27.81rem;
height: 3.125rem;
left: 39.81rem;
top: 28.37rem;
background: #FFFFFF;
border: 1px solid #E5E5E5;
border-radius: 0.2rem;
}
.Coupon{
    display: flex;
    width: 36.18rem;
height: 3.125rem;
left: 31.43rem;
top: 28.37rem;
}
.group2{ */
    /* width: 9.916rem;
height: 3.125;
left: 57.70rem;
top: 28.37rem; */

/* }
.komal{
    display: flex;
    flex-direction: row;
}
.rectangle3{
    width: 9.916rem;
height: 3.125rem;
left: 57.70rem;
top: 28.37rem;
background: #253D4E;
border-radius: 0rem 0.2rem 0.2rem 0rem;
margin-left: 17.8rem; */
/* margin-bottom: 2.5rem; */
/* }
.text10{
    width: 6.687rem;
height: 1.25rem;
left: 59.42rem;
top: 28.25rem;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 1.25rem;
text-align: center;
letter-spacing: -0.0004em;
color: #FFFFFF;
margin-bottom: 5rem;

}
.tag{
    left: 27.69%;
right: -27.69%;
top: 0%;
bottom: 0%;

transform: rotate(14.5deg);
left: 62.41%;
right: 22.59%;
top: 32.1%;
bottom: 55.4%;
margin-top: 20rem;
background: #B6B6B6;
transform: rotate(14.5deg);
margin-left: 1.5rem;
margin-top: 0.5rem;
}
.card1{
    /* width: 96px; */
/* height: 24px; */
/* left: 686.97px; */
/* top: 467.33px; */
/* font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem; */
/* line-height: 24px; */
/* display: flex;
justify-content: center;
 margin-left: 3.5rem;
 

color: #B6B6B6;

} */


/* 
.left{

    box-sizing: border-box;

    position: absolute;
    width: 27.81rem;
    height: 4rem;
    left: 10.5rem;
    top: 40.172rem;
    
    /* NestMart-White */
    
    /* background: #FFFFFF; */
    /* NestMart-Brand 1 */
    
    /* border: 1px solid #3BB77E; */
    /* border-radius: 0.25rem; */



/* }
.right{
    
    position:absolute;
    height: 4rem;
width: 27.812rem;
left: 39.8125rem;
top: 40.172rem;
border-radius: 10px;
border: 1px solid #E5E5E5;


}
.word{ */
    
    /* position:absolute; */
    /* height: 13.019rem;
width: 57.124rem;
left: 10.5rem;
top: 67rem;
border-radius: 0.2rem;
border: 1px solid #E5E5E5; */
/* margin-right: 15rem; */

/* 
}
.payid{
    display: flex;
    flex-direction: column;
    margin-left: 66rem;
}
.payment{
    width: 19rem;
    height: 10.2rem;
    left: 71rem;
    top: 67rem;
    margin-left: 4.4rem;
    margin-top: 3.18rem;
    

}
.cash{
    width: 15.25rem;
    height: 1.5rem;
    left: 73rem;
    top: 73rem; */
   /* display: flex; */
   /* flex-direction: row; */
    /* font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #7E7E7E; */
    

/* }
.bank{ */ 
    /* position: absolute; */
/* width: 15.8rem;
height: 1.35rem;
left: 73rem;
top: 71rem;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.25rem;
text-align: center;
color: #253D4E;

} */
/* .payhead{
    width: 6.5rem;
    height: 2rem;
    left: 1rem;
    top: 67rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: -0.0004em;  
    color: #253D4E;
    
}
.radio{
    width: 10.81rem;
height: 3.9rem;
left: 17rem;
top: 71rem;


}
.payhead{
    width: 16rem;
height: 2rem;
left: 71rem;
top: 67rem;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 1.25rem;
line-height: 2 rem;
letter-spacing: -0.0004em;
color: #253D4E;

}
.log{
    width: 19rem;
height: 1.23rem;
left: 72rem;
top: 76rem;
}

.pay{
    height: 1rem;
width: 2rem;
left: 1.65rem;
top: 0.2rem;
border-radius: 0rem;
}

.visa{
    height: 1.22rem;
width: 3.45rem;
left: 0rem;
top: 0rem;
border-radius: 0rem;

}
.logo{
    height: 2rem;
width: 1.45rem;
left: 0rem;
top: 0.1rem;
border-radius: 0rem;

}

.zapper{
    height: 1.2rem;
width: 5rem;
left: 0rem;
top: 0.1rem;
border-radius: 0rem;


}
.paymentlogo{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0rem;
gap: 1.25rem;
width: 19rem;  
height: 1.2rem;
left: 72rem;
top: 76rem;

}
.place{
    width: 15rem;
height: 3.2rem;
left: 71rem;
top: 82rem;
width: 15.5rem;
left: 0rem;
top: 0.rem;  */
/* border-radius: [object Object]px; */
/* }
.add{
    left: 20.72%;
    right: 33.47%;
    top: 30.34%;
    bottom: 30.45%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;  
    text-align: center;  
    letter-spacing: -0.0004em;
    color: #FFFFFF;
    background-color: #3BB77E;
    height: 50px;

    
}
.icon{ */
    /* width: 1rem;
height: 1rem; 
left: 11.25rem; 
top: 1rem;

}  */
/* 
.card{
    display: flex;
    margin-left: 70rem;
    margin-top: 15rem;
}

.acount{
   
     /* margin-top: 50rem; */
     /* display: flex; */
     /* flex-direction: column; */
     /* align-items: center; */
     /* margin-top: 1rem; */
     /* margin-right: 25rem; */

/* .bill{

    width: 20.75rem;
height: 2rem;
left: 10.3rem;
top: 35.625rem; */

/* NestMart/Heading 4 */

/* font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 1.5rem;
line-height: 2rem; */ 
/* identical to box height, or 133% */

/* letter-spacing: -0.0004em;
margin-left: 25rem;
margin-bottom: 15rem; */
/* NestMart-TextHeading */

/* color: #253D4E;

}
@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        height: 100%;
    }
} */ 
html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  .container {
    max-width: 960px;
  }
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }