
.container {
    display: flex;
    /* position: relative; */
    /* height: 382.3899841308594px;
    width: 1584.0001220703125px;
    left: 168px;
    top: 1576px;
    border-radius: [object Object]px; */
    
background-image: url('https://s3-alpha-sig.figma.com/img/1ea8/07d3/43574d8cd78a0c10a2c78878852dc8b3?Expires=1678060800&Signature=lxRuPQXIDR1vrNV9fZHoYQAhf3hfX3MwDneTb0B6T4t6hcvYKzrZxvuNqXbPMJRYIZegaKpXE4BMtSL6rKgX4VIndLj35spdzdnPTzRXKJjlzYGHlM-msPxoANg2Gw1fxesH8NC3DFqZjMdk2cSyGvebRz0TdUp3NxDsD-4N3z7LSbaRSzdVaXu67pUH6HTWZRv8Uf5r~zYqO6MR21s8x2b5oYhwZsfR158HUs7flZ3w6Z6XqvG6AJuZYJovOWm0GOSoprpGOuSzKjZBZcqTe3D95bPaz4VIooKmlWRfv6s-TZEAUkrE~beEJGLMNd6INWr6lSPpIlxHs8~DPmZp~g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');

height: 382.3899841308594px;
width: 1584.0001220703125px;
left: 168px;
top: 1709.3203125px;
border-radius: [object Object]px;




}

.apple{
    /* position:absolute; */
    height: 400px;
    width: 900px;
    left: 875.5px;
    top: 1473.4453125px;
    border-radius: 0px;
    margin-bottom: 15rem;
    margin-right: 25rem;
    

}
.left{
    height: 88.75041961669922px;
width: 686.8496704101562px;
left: 249.55859375px;
top: 1584.55859375px;
border-radius: nullpx;
color: #1C4037;
Font:Quicksand;
font-weight:700;
Size:40px;
line-height:48px;
letter-spacing:-0.04%;
display: flex;
flex-direction: column;
/* position: absolute; */

}
.input{
    height: 48.797935485839844px;
width: 449.5673522949219px;
left: 120.208984375px;
top: 1967.625px;
border-radius: 36.971248626708984px;
/* position: absolute; */
margin-right: 17rem;
/* margin-bottom: 500rem; */
margin-top: 5rem;


}
.heading2{
    height: 64.48536682128906px;
width: 371.4361267089844px;
left: 248.828125px;
top: 1903.1396484375px;
border-radius: nullpx;
font:Lato;
font-Weight:400;
font-size: 18px;
line-height: 26px;
color: #2B3D34;
margin-top: 5rem;


}

.button{
    height: 48.797935485839844px;
width: 160.333984375px;
left: 544.224609375px;
top: 1967.625px;
border-radius: 36.971248626708984px;
margin-right: 13;

}

.nest{
    /* position: absolute; */
left: 39.07%;
right: 3.92%;
top: 0%;
bottom: 24.24%;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 55.5px;
line-height: 50px;
/* identical to box height, or 90% */

letter-spacing: -0.0004em;

/* NestMart-Brand 1 */

color: #3BB77E;
}

.h6{
    height: 59.59279251098633px;
width: 341.493408203125px;
left: 1.2724609375px;
top: 89.412109375px;
border-radius: nullpx;

}
.h5{
    /* height: 152.869140625px;
width: 346.27264404296875px;*/
left: 0px;
/*top: 141.00048828125px;
border-radius: 0px; */

}
.call{
    height: 22.31032943725586px;
width: 319.47381591796875px;
left: 26.7998046875px;
top: 197.68408203125px;
border-radius: nullpx;

}

.content{
    /* width: 1696.27px;
height: 425px;
left: 166.73px;
top: 2025.18px; */

}
.col{
    width: 346.27px;
    height: 293.87px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

}

.company{
    
font-family: Quicksand;
font-style: Bold;
font-size: 24px;
line-height: 32px;
line-height: 107%;
align-items: Left;
vertical-align: Top;
letter-spacing: -0.04%;
color: #253D4E;
}
.location{
    /* /* position: absolute; */
left: 33.34%;
right: 33.33%;
top: 25%;
bottom: 41.67%;

/* NestMart-Brand 1 */

color: #3BB77E; 
height: 5.333334922790527px;
width: 5.333334922790527px;
left: 5.333984375px;
top: 4px;
border-radius: 0px;

}
.phone{
    height: 13.333333015441895px;
width: 15.980077743530273px;
left: 0.009765625px;
top: 1.333251953125px;
border-radius: 0px;
color:#3BB77E;
left: 0.06%;
right: 0.06%;
top: 8.33%;
bottom: 8.33%;
}
.mail{
    height: 15.998000144958496px;
width: 15.998353958129883px;
left: -0.00390625px;
top: 0.01416015625px;
border-radius: 0px;
color: #3BB77E;
left: -0.02%;
right: 0.03%;
top: 0.09%;
bottom: -0.08%;
}

.hour{
    height: 16px;
width: 16px;
left: 0px;
top: 0px;
border-radius: 0px;
color:#3BB77E;
}

.col2{ 
  
width: 147px;
height: 288.58px;
flex: none;
order: 1;
flex-grow: 0;

}
.frame1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;


width: 147px;
height: 228px;
left: 426.27px;
top: 60.58px;
}

.about{
 
width: 66px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 0;
flex-grow: 0;
}
.Del{
    width: 147px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 1;
flex-grow: 0;
}

.policy{
    width: 98px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 2;
flex-grow: 0;
}

.terms{
    
width: 137px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 3;
flex-grow: 0;
}
.contact{
    width: 78px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 4;
flex-grow: 0;
}

.support{
    width: 109px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 5;
flex-grow: 0;
}

.carrer{
    width: 56px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 6;
flex-grow: 0;
}
.col3{   
    width: 131px;
    height: 288.58px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.account{
    /* position: absolute; */
width: 93px;
height: 32px;
left: 654.35px;
top: 0px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.0004em;
color: #253D4E;

}

.frame3{
    display: flex;
flex-direction: column;
/* align-items: flex-start; */
padding: 0px;
gap: 10px;

/* position: absolute; */
width: 131px;
height: 228px;
left: 653.27px;
top: 60.58px;

}
.sign{
    
width: 47px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 0;
flex-grow: 0;
}
.cart{
    width: 71px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 1;
flex-grow: 0;
}
.list{
    width: 84px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 2;
flex-grow: 0;
}

.order{
    width: 111px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 3;
flex-grow: 0;
}
.help{
    width: 80px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #253D4E;
    flex: none;
    order: 4;
    flex-grow: 0;   
}
.ship{
    width: 114px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 5;
flex-grow: 0;
}
.pro{
    width: 131px;
    height: 24px;
    
    /* NestMart/Text Medium */
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #253D4E;
    flex: none;
    order: 6;
    flex-grow: 0;
}
.col4{
    width: 139.07px;
height: 254.58px;
flex: none;
order: 4;
flex-grow: 0;
}
.header{
    /* position: absolute; */
width: 138px;
height: 32px;
left: 1057.35px;
top: 0px;
width: 138px;
height: 32px;
left: 1057.35px;
top: 0px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.0004em;
color: #253D4E;


}
.frame4{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

/* position: absolute; */
width: 124px;
height: 194px;
left: 1056.27px;
top: 60.58px;

}

.search{
    width: 94px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 0;
flex-grow: 0;
}

.adv{
    width: 121px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 1;
flex-grow: 0;
}
.help{
    width: 93px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 2;
flex-grow: 0;
}
.store{
    width: 102px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #253D4E;
flex: none;
order: 3;
flex-grow: 0;
}

.order{
    width: 124px;
height: 24px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #253D4E;
flex: none;
order: 4;
flex-grow: 0;
}
.col5{
    width: 281.43px;
height: 254.57px;
flex: none;
order: 5;
flex-grow: 0;
}
.App{
    width: 128px;
height: 38px;
left: 1275.35px;
top: 123.29px;
}

.Google{
    width: 128px;
height: 38px;
left: 1428.78px;
top: 123.29px;
}
.footer{
    width: 1696.27px;
height: 425px;
left: 166.73px;
top: 1960.87px;
}
.bottom{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 80px;

/* position: absolute; */
width: 1556.78px;
height: 293.87px;
left: 166.73px;
top: 1960.87px;
}